body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --brand-color: #2e2f42;
}

.list {
  list-style: none;
}

.link,
.page-logo,
.footer-logo {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.description-first-word-page-logo {
  color: var(--brand-color);
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;

  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.common-container {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  align-items: center;
  margin-left: 332px;
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: block;
  line-height: 1.5;
  padding: 24px 0;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: var(--brand-color);
}

.menu-item,
.link:active {
  color: #9747ff;
}

.modal-open-button:hover,
.modal-open-button:focus {
  background-color: #404bbf;
}

.menu-item:hover,
.menu-item:focus,
.page-logo:hover,
.page-logo:focus,
.contacts:hover,
.contacts:focus,
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.first-line,
.second-line {
  display: flex;
  align-items: center;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-line::after {
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 4px;
  left: 0;
  bottom: -1px;
  top: 44px;
  background-color: #404bbf;
  border-radius: 2px;
  margin-top: 20px;
  overflow: auto;
  transform: translateY(100%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-line::after {
  content: '';
  display: block;
  position: absolute;
  width: 66px;
  height: 4px;
  left: 0;
  bottom: -1px;
  top: 44px;
  background-color: #404bbf;
  border-radius: 2px;
  margin-top: 20px;
  overflow: auto;
  transform: translateY(100%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-line:hover::after,
.second-line:hover::after {
  transform: translateY(0%);
}

.contact-information {
  font-style: normal;
  margin-left: auto;
}

.contacts-element {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Перша секція. Головна інформація */

.main-information {
  background-color: var(--brand-color);
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;

  /* or 107% */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  letter-spacing: 0.02em;

  /* WHITE */
  color: #ffffff;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

.modal-open-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  min-width: 169px;
  border: none;

  /* identical to box height, or 150% */
  display: block;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Auto layout */
  display: block;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  left: 636px;
  right: 635px;
  top: 428px;
  bottom: 188px;

  /* IRIS */
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Друга секція. Основні принципи */

.container-principles {
  padding: 96px 0;
}

.title-essence-principles {
  width: 100%;
}

.title-essence-principles-icons {
  display: none;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
}

.principles {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;

  /* identical to box height, or 120% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: var(--brand-color);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.principles-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .summary {
    row-gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .principles {
    text-align: left;
  }

  .summary {
    column-gap: 24px;
  }

  .title-essence-principles {
    width: unset;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .summary {
    display: flex;
    gap: 24px;
  }

  .container-principles {
    padding: 120px 0;
  }

  .title-essence-principles {
    width: calc((100% - 72px) / 4);
  }

  .title-essence-principles-icons {
    display: flex;
  }
}

/* Третя секція. Що ми робимо */

.our-work {
  padding-bottom: 120px;
}

.our-work-images {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
}

@media screen and (min-width: 320px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .our-work {
    display: flex;
  }
}

/* Четверта секція. Працівники */

.our-team-description {
  background-color: #f4f4fd;
  padding: 96px 0;
  /* padding: 120px 0; */
}

.section-description {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;

  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */
  color: var(--brand-color);
}

.our-team-description-list {
  display: flex;
  flex-wrap: wrap;
}

.our-team-identification {
  background-color: #ffffff;
  width: unset;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
}

.person-information {
  padding: 32px 0;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;

  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: var(--brand-color);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link,
.social-media-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 428px;
  }

  .our-team-description-list {
    /* flex-wrap: nowrap; */
    row-gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .our-team-description-list {
    display: flex;
    column-gap: 24px;
    margin: 0 108px;
  }

  .our-team-identification {
    width: calc((100% - 24px) / 2);
  }

  .person-information {
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .our-team-description {
    padding: 120px 0;
  }

  .our-team-description-list {
    display: flex;
    column-gap: 24px;
    margin: 0 108px;
  }

  .our-team-identification {
    width: calc((100% - 72px) / 4);
  }
}

/* П'ята секція. Клієнти */

.our-customers {
  padding: 96px 0;
  /* padding: 120px 0; */
}

.icons-customers {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.icons-customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #ffffff;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-customers-link:hover,
.icons-customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icons-customers-view {
  fill: currentColor;
}

@media screen and (min-width: 320px) {
  .icons-customers {
    width: calc((100%-16px) / 2);
  }
}

@media screen and (min-width: 428px) {
  .icons-customers {
    width: calc((100%-48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .our-customers {
    padding: 120px 0;
  }

  .icons-customers {
    flex-wrap: nowrap;
  }
}

/* Підвал сторінки */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.under-logo-and-slogan {
  background-color: #2e2f42;
  padding: 96px 0;
  /* padding: 100px 0; */
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  margin-bottom: 16px;

  display: inline-block;
    align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description-first-word-under-logo {
  color: #f4f4fd;
}

.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--brand-color);
  max-width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 72px;
}

.social-media {
  display: block;
  margin: 0 auto;
  /* margin-right: 80px;
  margin-left: 120px; */
}

.subscribe-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.title-social-media {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
    gap: 16px;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-list-link:hover,
.social-media-list-link:focus {
  background-color: #31d0aa;
}

.social-list-icon {
  fill: #f4f4fd;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-form-email::placeholder {
  color: #ffffff;
}

.subscribe-form-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  left: 50%;
  top: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden,
.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.contact-form-wrapper {
  margin-bottom: 8px;
}

.contact-form-field-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.contact-form-icon {
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: #4d5ae5;
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: #4d5ae5;
}

.contact-form-comment {
  margin-bottom: 16px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  border-color: #4d5ae5;
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.contact-form-checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.contact-form-checkbox:checked + .contact-form-checkbox-text .checkbox-text {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.contact-form-checkbox-link {
  color: #4d5ae5;
}

.contact-form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

/* .contact-form-field-desc { 
  display: block;
  font-size: 12px;
  color: #8e8f99;
  margin-bottom: 4px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-checkbox-wrapper {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contact-form-checkbox {
  appearance: none;
  position: absolute;
}

.contact-form-own-checkbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  padding: 4.27px 4.75px 3.06px 3.43px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 24px;
}

.contact-form-checkbox:focus + .contact-form-own-checkbox {
  outline: 2px solid rgba(46, 47, 66, 0.4);
}

.contact-form-checkmark-icon {
  opacity: 0;
}

.contact-form-checkbox:checked + .contact-form-own-checkbox > .contact-form-checkmark-icon {
  opacity: 1;
} */

/* Портфоліо */
.contacts {
  display: flex;
  gap: 40px;
}

.img-description {
  padding: 96px 0 120px;
}

.button-type {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.modal-open-button-all {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-button-all:hover,
.modal-open-button-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.icons-item {
  width: calc((100% - 48px) / 3);
  list-style: none;
}

.review {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review:hover,
.review:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.review-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review:hover .overlay,
.review:focus .overlay {
  transform: translateY(0%);
}

.app-name {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.icons-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 8px;
}

.icons-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
